@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Suitable Safe Havens</h1>
    <p class="lead">In a world completely covered with infected zombies, hunters, and cordyceps every where you go it;s nice having a few places to go that you know you can at least stay for a night without the fear waking up to the sound of zombies nibbling at your legs or hunters looting your stash. this website was made so that traveling survivors can check where the nearest safe haven is in case they need rest, medicine, or simply just to re-up on supplies.</p>
    <p><a href="http://thelastofus.wikia.com/wiki/The_Last_of_Us" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documented Safe Havens</h2>
        <p>
            These are the most popular safe havens/rest stops that people use on their way to find family, find the fireflys, seeking refuge from the herds of infected or find a new home. Some are safer than others. Some have more to offer. Please leave your reviews of what you think of each so we can document it for other travelers.
        </p>
        <p><a class="btn btn-default" href="https://pre00.deviantart.net/889e/th/pre/f/2013/195/c/f/the_last_of_us___bloater_by_thomaswievegg-d6deu6b.jpg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Did you find a safe haven that's not listed on this site? Let us know!</h2>
        <p>In times like these it's important to look out for others to ensure survival. Document any safe havens or areas that arre clear or relatively clear of infected.</p>
        <p><a class="btn btn-default" href="http://i.imgur.com/Y4T9efU.jpg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>