@{
    ViewBag.Title = "Verified Safe Havens!";
}
<h6>@ViewBag.Title.</h6>


<h2>Bills Town</h2>
<p>The small town of Lincoln Massechusettes is all that Bill has. It's home to him, his former lover, Frank, and hundreds of infected. Lincoln, unoffically renamed as Bills Town on account that he's the only one left living there, is perfect for the solo survivor who doesn't want to be surrounded by people who need tobe looked after.</p>

<br/>

<h2>Tommys Dam</h2>
<p>Twenty years after being forced to leave his home in Austin, Tommy was finally able to gain control over an old power plant and use it as a homebase for his family and other members of his small colony of survivors. not only are there horses, but Tommy and the boys have finnaly figured out how to get the generator up and running again!</p>

<br/>

<h2>Henry and Sam-- Nomads</h2>
<p>Like anyone else, Henry and Sam tend to run into infected. However, most of their troubles are caused by run ins with hunters. They're constantly running so they have no place to call home. For those who find adventure in an all out apocolypse - Sam and Henry might be the right choice for you.</p>